/* #contact-form{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 9;
    align-items: center;
    align-content: center;
    padding: 2%;
}

#contact-form .cnt_box{

} */