*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    max-width: 100%;
    box-sizing: border-box;
    background-color: rgb(227, 227, 227);
}


/* Header Section */

#header-section{
    width: 100%;
    height: auto;
    padding: 13px 0;
}

#header-section .navbar-brand{
    font-family: "Work Sans", sans-serif;
    font-size: 22px;
    color: 000;
    font-weight: 600;

}

#header-section .navbar-brand span{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 300;

}

#header-section .nav-link{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    padding: 0 15px;
    transition: all 0.5s;
}

#header-section .nav-item:nth-child(2){
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

#header-section .nav-link:hover{
    color: #926402;
}

@media (max-width:991px){
    #header-section .nav-link{
        text-align: center;
        padding: 6px 0;
    }

    #header-section .nav-item:nth-child(2){
        border-left: none;
        border-right: none;
    }

    .navbar-collapse{
        padding: 15px 0;
    }
}

/* Footer Section */

#footer-section{
    width: 100%;
    height: auto;
    padding: 20px;
}

#footer-section h4{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

#footer-section a{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    text-decoration: none;
}

#footer-section p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

@media (max-width: 991px){
    #footer-section h4{
        text-align: center;
    }

    #footer-section a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #footer-section p{
       text-align: center;
    }
}